<!DOCTYPE html>
<html>

<head th:replace="~{base :: head}"></head>

<body>
    <nav th:replace="~{base :: nav}"></nav>

    <div>
        <h1 class="text-center mt-3 mb-3">Lista de Animais</h1>
    </div>
    <div class="row container-fluid d-flex justify-content-between sm">
        <a href="/animais/cadastrarAnimal"><button class="btn btn-primary ml-3">Adicionar Novo</button></a>
    </div>

    <div class="mt-3">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Sexo</th>
                    <th>Raça</th>
                    <th>Cor</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="animal : ${animais}">
                    <tr>
                        <td class="text-center">
                            <div th:text="${animal.id}">ID</div>
                        </td>
                        <td class="text-center">
                            <div th:text="${animal.nome}">nomeAnimal</div>
                        </td>
                        <td class="text-center">
                        <div th:switch="${animal.tipo}">
                        <div th:case="'1'">Gato</div>           
                          <div th:case="'2'">Cachorro</div>
                          </div>                 
                        </td>
                        <td class="text-center">
                            <div th:switch="${animal.sexo}">
                        <div th:case="'F'">Femea</div>           
                          <div th:case="'M'">Macho</div>
                          </div>                           
                        </td>
                        <td class="text-center">
                            <div th:text="${animal.raca}">raça</div>
                        </td>
                        <td class="text-center">
                            <div th:text="${animal.cor}">Cor</div>
                        </td>
                        <td class="text-center">
                            <div th:text="${animal.idade + ' anos'}">Idade</div>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</body>

</html>